* {
    background-color : bisque;
    color : black;
    font-size: larger;
    }
    h2 {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : xx-large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    button2 {
        border-style: solid;
        font-size: 30px;
        font-weight: 20px;
        color: black;
        text-align: center;
        border: solid black 10px;
        border-radius: 25px;
    }
    .movies {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    .games {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    #benefits {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    footer {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }