* {
    background-color : bisque;
    color : black;
    }
    h2 {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : xx-large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    .topnav3 {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : x-large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    .movies {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    .games {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    #benefits {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }
    footer {
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : large;
    font-weight : bolder;
    color : black;
    border : black solid 10px;
    }